.forms-out {
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
    padding: 15px 0;
  }

.forms-in {
    width: 100%;
    margin: 0 auto;
    color: black;
    padding: 15px 0;
  }

.forms-in div {
    padding: 15px 20px;
    max-width: 500px;
    margin: 0 auto;
    background: turquoise;
    border-radius: 50px;
    margin-bottom: 15px;
  }

.forms-in h3 {
    text-align: center;
    font-size: xx-large
  }

.forms-in input {
    width: 75%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: black;
    color: white;
  }

.forms-in button {
    border: none;
    padding: 7px 20px;
    background: #e8f8ff;
    color: #d88518;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

.forms-in button:hover {
    opacity: 0.7;
  }

.hide {
    display: none;
  }

#forgot-password {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
  }

#forgot-password:hover {
    opacity: 0.7;
  }

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  background-color: white;
  font-size: large
}

#login-container-1 {
  background-color: white;
  margin: 30px;
}

#login-container-2 {
  background-color: white;
  margin: 30px
}




