#logout{
  font-size: 1.25rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #cbfffd, #ffa9f9);
  color: black;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.background-container{
  height: 100vh;
  display: flex;
}

#groups-container{
  width: 20%;
  background-color: #5ce1e6;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#calendar-container{
  width: 80%;
  background-color: #5ce1e6;
  border-radius: 10px;
  margin-right: 15px;
  justify-content: space-evenly;
}

#calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  width: 98%;
  height: 88%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 5px;
  row-gap: 2px;
}

.grid-item {
  background-color: beige;
  border:px solid black;
  padding: 2px;
  text-align: match-parent;
}