#logout{
  font-size: 1.25rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #cbfffd, #ffa9f9);
  color: black;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.background-container{
  height: 100vh;
  display: flex;
}

#groups-container{
  width: 20%;
  background-color: #5ce1e6;
}

#calendar-container{
  width: 80%;
  background-color: #5ce1e6;
}